params {
    input  = "samplesheet.csv"
    outdir = "results"

    human_index = "/work/samodha/sachin/hg38_index/genomeo"
    bovine_index = "/work/samodha/sachin/bovine_index/bosTau9"
}

process {
    cpus = 6
    memory = "32 GB"
    time = "168h"
}

profiles {
    hcc {
        process.executor = "slurm"
        process.queue = "guest,batch"
        process.module = "bbmap/39.06"
    }
}


